<div class="container" *ngIf="project">
  <h1 class="my-4">{{project.projectName}}</h1>
  <div class="row">
    <div class="col-md-8">
      <img class="img-fluid" src="http://placehold.it/750x500" alt="">
    </div>

    <div class="col-md-4">
      <h3><a href="#">(Live View)</a></h3>
      <h3 class="my-3 projectTitle">Project Description</h3>
      <p>{{project.projectDesc}}</p>
      <h3 class="my-3 projectTitle">Date</h3>
      <p>{{project.projectDate}}</p>
      <h3 class="my-3 projectTitle">Technologies Used</h3>
      <ul>
        <li *ngFor="let tech of project.projectTechnologies">
          {{tech.technologyName}}
        </li>
      </ul>
    </div>
  </div>
</div>
