@import "~src/assets/css-constants/colors.scss";

h1{
  color: $silver-4;
}

.projectTitle{
  color: $silver-7;
}

.container{
  padding-bottom: 30px;
}

.parentheses{
  color: $blue-5;
}

.img-fluid:hover{
  opacity: 0.8;
}
