<div class="container" *ngIf="project" style="padding-top: 30px">
  <h1 class="my-4">{{project.projectName}}</h1>
  <div class="row">
    <div class="col-md-8" *ngIf="project.projectImage != 'udemyCourse.mp4'">
      <a href="assets/img/projects/{{project.projectImage}}"><img class="img-fluid" style="border: 8px solid #007888" src="assets/img/projects/{{project.projectImage}}" alt="No Image"></a>
    </div>
    <div class="col-md-8" *ngIf="project.projectImage == 'udemyCourse.mp4'">
      <video width="100%" height="auto" style="object-fit: fill;" poster="/assets/img/projects/udemyThumbnail.png" controls>
        <source src="/assets/img/projects/{{project.projectImage}}" type="video/mp4">
        Your browser does not support the video tag.
      </video>
    </div>
    <div class="col-md-4">
      <h3><span class="parentheses">(</span><a href="{{project.projectUrl}}" target="_blank">Live View</a><span class="parentheses">)</span></h3>
      <h3 class="my-3 projectTitle">Project Description</h3>
      <p style="text-align: justify">{{project.projectDesc}}</p>
      <h3 class="my-3 projectTitle">Date</h3>
      <p>{{project.projectDate}}</p>
      <h3 class="my-3 projectTitle">Technologies</h3>
      <ul style="padding-left: 21px">
        <li *ngFor="let tech of project.projectTechnologies">
          {{tech.technologyName}}
        </li>
      </ul>
    </div>
  </div>
</div>
