h1{
  color: var(--silver-4);
}

.projectTitle{
  color: var(--silver-7);
}

.container{
  padding-bottom: 30px;
}

h3 {
  color: var(--blue-5);
}

h3 a{
  color: var(--blue-5);
}

.img-fluid:hover{
  opacity: 0.8;
}

.text-color{
  color: var(--black-8);
}

#projectViewImg {
  border: 8px solid var(--white);
}

#projectViewVid {
  object-fit: fill;
  border: 8px solid var(--white);
}
