<div class="header-section">
  <div class="row">
    <div class="col-md-12">
      <div class="intro">
        <div class="container text-center">
          <img class="header-section-profile-image img-fluid" src="assets/img/{{myImageAm}}" alt="No image" id="profileImg">
          <h1 class="header-section-name">{{myTitleAm}}</h1>
          <div class="header-section-title">{{mySubtitleAm}}</div>
          <div class="header-section-main-text">
            <p>{{mySummaryAm}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper container">
  <div class="main">
    <section class="main-section section">
      <h2 class="section-title"><i class="fa fa-briefcase" aria-hidden="true"></i> Experience</h2>
      <div class="row">
        <div class="item col-12 col-md-4" *ngFor="let experience of experiences">
          <div class="item-inner">
            <h3 class="main-section-title">{{experience.experienceName}}</h3>
            <div class="main-section-subtitle">
              {{experience.experienceCompany}}
            </div>
            <div class="main-section-date">{{experience.experienceDate}}</div>
            <div class="main-section-desc">
              {{experience.experienceDesc}}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<div class="wrapper container">
  <div class="main">
    <section class="main-section section">
      <h2 class="section-title"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Education</h2>
      <div class="row">
        <div class="item col-12 col-md-4" *ngFor="let education of educations">
          <div class="item-inner">
            <h3 class="main-section-title">{{education.educationName}}</h3>
            <div class="main-section-subtitle">
              {{education.educationUniversity}}
            </div>
            <div class="main-section-date">{{education.educationDate}}</div>
            <div class="main-section-desc">
              {{education.educationDesc}}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
