:root {
  --white: white;
  --white-2: white;
  --white-3: white;
  --white-4: white;
  --blue-1: #007888;
  --blue-2: #00a5bb;
  --blue-3: #008fa1;
  --blue-4: #00BCD4;
  --blue-5: #007bff;
  --blue-6: #0056b3;
  --blue-7: #008fa1;
  --blue-8: #00a5bb;
  --blue-9: #41A4F5;
  --blue-10: #3b5998;
  --blue-11: #007888;
  --silver-1: rgba(255,255,255,0.6);
  --silver-2: #e9ebee;
  --silver-3: rgba(255,255,255,0.8);
  --silver-4: #444;
  --silver-5: #8a8a8a;
  --silver-6: #666;
  --silver-7: #434E5E;
  --silver-8: #58677c;
  --silver-9: #434E5E;
  --silver-10: #58677c;
  --silver-11: #434E5E;
  --silver-12: #555459;
  --silver-13: #ccc;
  --silver-14: #fafafa;
  --black-1: rgba(0,0,0,0.14);
  --black-2: rgba(0,0,0,0.4);
  --black-3: rgba(0,0,0,.15);
  --black-4: rgba(0,0,0,.18);
  --black-5: #24292e;
  --black-6: #000;
  --black-7: #24292e;
  --black-8: #212529;
  --red-1: #dd4b39;
  --red-2: red;

  --white-2-other-theme: rgba(60,76,85,0.40);
  --white-3-other-theme: rgba(60,76,85,0.40);
  --white-4-other-theme: rgba(60,76,85,0);
  --blue-1-other-theme: #11171B;
  --blue-2-other-theme: #1c2126;
  --blue-3-other-theme: #11171B;
  --blue-4-other-theme: #41a4f5;
  --silver-2-other-theme: #30363A;
  --silver-4-other-theme: #ffffff;
  --silver-5-other-theme: rgba(255,255,255,0.8);
  --silver-6-other-theme: rgba(255,255,255,0.6);
  --silver-7-other-theme: #e9ebee;
  --silver-8-other-theme: rgba(255,255,255,0.6);
  --silver-10-other-theme: rgba(255,255,255,0.6);
  --silver-11-other-theme: #e9ebee;
  --silver-14-other-theme: rgba(60,76,85,0.40);
  --black-1-other-theme: rgba(60,76,85,0.40);
  --black-5-other-theme: #e9ebee;
  --black-8-other-theme: #e9ebee;
  --blue-7-other-theme: #30363A;
  --blue-5-other-theme: #41a4f5;
}
