<div class="container" style="margin-top: 60px">
  <div class="row">
    <div class="col-lg-6 portfolio-item" *ngFor="let project of projects">
      <div class="card h-100">
        <a routerLink="/project/{{project.id}}"><img class="card-img-top" src="/assets/img/projects/{{project.projectImage}}" alt="No Image" width="650" height="350"></a>
        <div class="card-body">
          <h5 class="card-title checkItOutBtn">
            <a class="btn btn-primary" routerLink="/project/{{project.id}}"><i aria-hidden="true" class="fa fa-globe"></i> View</a>
          </h5>
          <h4 class="card-title projectName">
            <a routerLink="/project/{{project.id}}">{{project.projectName}}</a>
          </h4>
          <h6 class="card-title projectDate">
            {{project.projectDate}}
          </h6>
          <p class="card-text projectDesc">{{project.projectDesc}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
