@import "~src/assets/css-constants/colors.scss";

h1{
  color: $silver-4;
}

.portfolio-item {
  margin-bottom: 30px;
}

.checkItOutBtn{
  float: right;
}

.checkItOutBtn a{
  background-color: $blue-5;
  border-color: $blue-5;
}

.checkItOutBtn a:hover{
  background-color: $blue-6;
  border-color: $blue-6;
}

.projectName{
  color: $blue-5;
}
.projectDate{
  color: $silver-5;
}

.projectDesc{
  color: $silver-4;
}

.card-img-top:hover{
  opacity: 0.8;
}
