<div class="container">
  <h1 class="my-4">Projects</h1>
  <div class="row">
    <div class="col-lg-6 portfolio-item" *ngFor="let project of projects">
      <div class="card h-100">
        <a routerLink="/project/{{project.id}}"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
        <div class="card-body">
          <h5 class="card-title checkItOutBtn">
            <a class="btn btn-primary" routerLink="/project/{{project.id}}"><i aria-hidden="true" class="fa fa-globe"></i> Check It Out</a>
          </h5>
          <h4 class="card-title projectName">
            <a routerLink="/project/{{project.id}}">{{project.projectName}}</a>
          </h4>
          <h6 class="card-title projectDate">
            {{project.projectDate}}
          </h6>
          <p class="card-text projectDesc">{{project.projectDesc}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
