h1{
  color: var(--silver-4);
}

.portfolio-item {
  margin-bottom: 30px;
}

.checkItOutBtn{
  float: right;
}

.checkItOutBtn a{
  background-color: var(--blue-5);
  border-color: var(--blue-5);
}

.checkItOutBtn a:hover{
  background-color: var(--blue-6);
  border-color: var(--blue-6);
}

.projectName a{
  color: var(--blue-5);
}
.projectDate{
  color: var(--silver-5);
}

.projectDesc{
  color: var(--silver-4);
}

.card-img-top:hover{
  opacity: 0.8;
}

.card {
  background-color: var(--white-3);
}

#projectImg {
  border: 7px solid var(--white-4);
}

#projectVid {
  height: 350px;
  width : 100%;
  object-fit: fill;
  border: 7px solid var(--white-4);
}

@media all and (max-width: 768px) {
  #projectImg {
    height: auto;
  }
  video{
    height: auto;
  }
}
