@import "~src/assets/css-constants/colors.scss";

.navbar-dark .navbar-nav .nav-link {
  color: $silver-1;
}
.activeNavLink {
  color: $white !important;
}

.activeNavLink i {
  color: $white !important;
}

.linkHover:hover a{
  color: $white !important;
}

.linkHover:hover i{
  color: $white !important;
}
