@import "~src/assets/variables/variables.scss";

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,0.6);
}
.activeNavLink {
  color: $white-color !important;
}

.activeNavLink i {
  color: $white-color !important;
}

.linkHover:hover a{
  color: $white-color !important;
}

.linkHover:hover i{
  color: $white-color !important;
}
