h1{
  color: var(--silver-4);
}

.loginBtn {
  background-color: var(--blue-8);
  border-color: var(--blue-8);
}

.loginBtn:hover {
  background-color: var(--blue-11);
  border-color: var(blue-11);
}

.alert{
  margin-top: 10px;
}

.container{
  height: 500px;
}

.section {
  background: var(--white-3);
}
