<div class="container">

  <h1 class="my-4">Contact</h1>

  <div class="wrapper container">
    <div class="main">
      <section class="main-section section">
        <h2 class="section-title">Send Me A Message</h2>
        <div class="row">
          <div class="item col-12">
            <div class="row justify-content-center">
              <div class="col-lg-8">
                  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
                        </div>
                        <input type="text" class="form-control" placeholder="Full Name" formControlName="name">

                      </div>
                      <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
                        <div class="alert alert-danger" role="alert" *ngIf="messageForm.controls.name.errors.required">Full Name field is required.</div>
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
                        </div>
                        <input type="email" class="form-control" placeholder="Email@gmail.com" formControlName="email" email>
                      </div>
                      <div *ngIf="submitted && messageForm.controls.email.errors" class="error">
                        <div class="alert alert-danger" role="alert" *ngIf="messageForm.controls.email.errors.required">Email field is required.</div>
                        <div class="alert alert-danger" role="alert" *ngIf="messageForm.controls.email.errors.email">Please provide correct email address.</div>
                      </div>
                    </div>

                    <div class="form-group">
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="fa fa-comment text-info"></i></div>
                        </div>
                        <textarea class="form-control" placeholder="Message" formControlName="message"></textarea>
                      </div>
                      <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
                        <div class="alert alert-danger" role="alert" *ngIf="messageForm.controls.message.errors.required">Message field is required.</div>
                      </div>
                    </div>

                    <div class="text-center">
                      <input type="submit" value="Send" class="btn btn-info btn-block sendMessageBtn">
                      <div class="alert alert-success" role="alert" *ngIf="success">Message Successfully Sent!</div>
                    </div>
                  </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
