@import "~src/assets/css-constants/colors.scss";

h1{
  color: $silver-4;
}

.sendMessageBtn {
  background-color: $blue-8;
  border-color: $blue-8;
}

.sendMessageBtn:hover {
  background-color: $blue-11;
  border-color: $blue-11;
}

.alert{
  margin-top: 10px;
}
