h1{
  color: var(--silver-4);
}

.errorTitle{
  color: var(--red-2);
}

.errorSubTitle{
  text-align: center;
  color: var(--silver-4);
}

.container{
  height: 500px;
}

.section {
  background: var(--white-3);
}
