.page-footer{
  background-color: var(--blue-2);
  color: var(--white);
}

.footer-copyright{
  background-color: var(--blue-1);
  color: var(--white);
}

.btn-floating{
  -webkit-box-shadow: 0 5px 11px 0 var(--black-4), 0 4px 15px 0 var(--black-3);
  box-shadow: 0 5px 11px 0 var(--black-4), 0 4px 15px 0 var(--black-3);
  width: 53px;
  height: 53px;
  position: relative;
  z-index: 1;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: inherit;
}

.btn-github {
   background-color: var(--black-7);
   color: var(--white);
 }

.btn-linkedin{
  background-color: var(--blue-10);
  color: var(--white);
}

.btn-stackoverflow{
  background-color: var(--red-1);
  color: var(--white);
}

.btn-slack{
  padding-top: 3px;
  background-color: var(--blue-5);
  color: var(--white);
}

.footer-link{
  line-height: 53px;
}

.footer-btn-hover:hover{
  opacity: 0.7;
}

.list-unstyled a{
  color: var(--white);
}
