<footer class="page-footer font-small mdb-color lighten-3 pt-4">
  <div class="container text-center text-md-left">
    <div class="row">
      <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">What's New</h5>
        <p>
         {{myWhatsNew}}
        </p>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Navigation</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <a routerLink="/about">ABOUT ME</a>
            </p>
          </li>
          <li>
            <p>
              <a routerLink="/projects">PROJECTS</a>
            </p>
          </li>
          <li>
            <p>
              <a routerLink="/contact">CONTACT</a>
            </p>
          </li>
          <li>
            <p>
              <a routerLink="/login">LOGIN</a>
            </p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
        <h5 class="font-weight-bold text-uppercase mb-4">Info</h5>
        <ul class="list-unstyled">
          <li>
            <p>
              <i class="fa fa-home mr-3"></i> {{myCity}}</p>
          </li>
          <li>
            <p>
              <i class="fa fa-envelope mr-3"></i> {{myEmail}}</p>
          </li>
          <li>
            <p>
              <i class="fa fa-phone mr-3"></i> {{myPhone}}</p>
          </li>
          <li>
            <p>
              <i class="fa fa-skype mr-3"></i> {{mySkype}}</p>
          </li>
        </ul>
      </div>
      <hr class="clearfix w-100 d-md-none">
      <div class="col-md-2 col-lg-2 text-center mx-auto my-4">
        <h5 class="font-weight-bold text-uppercase mb-4">Follow Me</h5>
        <a href="{{myGithub}}" target="_blank" type="button" class="btn-floating btn-github footer-btn-hover">
          <i class="fa fa-github fa-2x footer-link"></i>
        </a>
        <a href="{{myLinkedIn}}" target="_blank" type="button" class="btn-floating btn-linkedin footer-btn-hover">
          <i class="fa fa-linkedin fa-2x footer-link"></i>
        </a>
        <a href="{{myStackOverflow}}" target="_blank" type="button" class="btn-floating btn-stackoverflow footer-btn-hover">
          <i class="fa fa-stack-overflow fa-2x footer-link"></i>
        </a>
        <a href="{{mySlack}}" target="_blank" type="button" class="btn-floating btn-slack footer-btn-hover">
          <i class="fa fa-facebook fa-2x footer-link"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">
    {{footerCopyright}}
  </div>
</footer>
