$white-color: white;
$nav-bg-color: #007888;
$bg-color: #e9ebee;
$home-bg-color: #00a5bb;
$title-color: rgba(255,255,255,0.8);
$degree-color: #00BCD4;
$time-color: #8a8a8a;
$desc-color: #666;
$resume-btn-color: #008fa1;
$resume-btn-hvr-color: #00a5bb;
$section-color: #444;
$skills-desc-color: #58677c;
$skills-cat: #434E5E;
$secondary-text: #58677c;
