@import "~src/assets/css-constants/colors.scss";

h1{
  color: $silver-4;
}

.loginBtn {
  background-color: $blue-2;
  border-color: $blue-2;
}

.loginBtn:hover {
  background-color: $blue-1;
  border-color: $blue-1;
}

.alert{
  margin-top: 10px;
}

.container{
  height: 500px;
}
