@import "~src/assets/variables/variables.scss";
///////////////////////
//       General     //
///////////////////////
h1 {
  color: $white-color;
}

.profile-image{
  width: 270px;
}

.resumeBtn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}
.resumeBtn:hover, a.resumeBtn:hover {
  background: $resume-btn-hvr-color;
  text-decoration: none;
}

.resumeBtn, a.resumeBtn {
  background: $resume-btn-color;
  color: $white-color;
  padding: 8px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  -moz-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.resume {
  position: absolute;
  z-index: 1;
  right: 20px;
}

///////////////////////
//      Contact      //
///////////////////////
.contact-info {
  background: $resume-btn-color;
  padding-top: 30px;
  padding-bottom: 30px;
}

.contact-info ul {
  margin-bottom: 0;
}

.contact-info li a {
  color: $title-color;
  font-size: 16px;
}

.contact-info li a:hover {
  color: $white-color;
}

///////////////////////
//       Skills      //
///////////////////////

.skills-title{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  color: $section-color;
  font-weight: 500;
}
.skills-desc{
  text-align: center;
  color: $skills-desc-color;
}

.skills-icon{
  text-align: center;
}

.skills-sub-title{
  text-align: center;
  color: #434E5E;
  font-size: 22px;
  margin-top: 15px;
}

.holdon{
  padding-left: 3em;
}

.pl-5, .px-5 {
  padding-left: 3rem !important;
}

.skills-icon-holder {
  background: #41A4F5;
  width: 80px;
  height: 80px;
  padding-top: 1.25rem;
  top: -40px;
  left: 50%;
  margin-left: -40px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.text-secondary {
  color: $secondary-text !important;
}

.skills-cat{
  color: $skills-cat;
}

.skills-overview{
  margin-bottom: 3rem;
}

.certification-img{
  text-align: center;
  margin-bottom: 25px;
}

///////////////////////
//      Responsive   //
///////////////////////
@media (max-width: 767px) {
  .resume {
    position: inherit;
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
  }
  .resumeBtn {
    width: 100%;
  }
}
