///////////////////////
//       Header      //
///////////////////////
.header-section-profile-image{
  width: 270px;
}

.resumeBtn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
}
.resumeBtn:hover, a.resumeBtn:hover {
  background: var(--blue-8);
  text-decoration: none;
}

.resumeBtn, a.resumeBtn {
  background: var(--blue-7);
  color: var(--white);
  padding: 8px 15px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 2px 4px 0 var(--black-2);
  -moz-box-shadow: 0 2px 4px 0 var(--black-2);
  box-shadow: 0 2px 4px 0 var(--black-2);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
}

.resume {
  position: absolute;
  z-index: 1;
  right: 20px;
}
#check-out-my-projects{
  color: var(--blue-5);
}

///////////////////////
//       Skills      //
///////////////////////

.skills-overview{
  margin-bottom: 3rem;
}

.skills-title{
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 30px;
  text-align: center;
  color: var(--silver-4);
  font-weight: 500;
}
.skills-desc{
  text-align: center;
  color: var(--silver-8);
}

.skills-icon{
  text-align: center;
}

.skills-list{
  width: 200px;
}

.skills-sub-title{
  text-align: center;
  color: var(--silver-9);
  font-size: 22px;
  margin-top: 15px;
}

.pl-5, .px-5 {
  padding-left: 3rem !important;
}

.skills-icon-holder {
  background: var(--blue-9);
  width: 80px;
  height: 80px;
  padding-top: 1.25rem;
  top: -40px;
  left: 50%;
  margin-left: -40px;
}

.list-unstyled {
  padding-left: 0;
  list-style: none;
}

.text-secondary {
  color: var(--silver-10) !important;
}

.skills-cat{
  color: var(--silver-11);
}

.text-primary {
  color: var(--blue-9) !important;
}

.bg-white-skills-sub-blocks {
  background-color: var(--white-2);
}

.section {
  background: var(--white-3);
}

///////////////////////
//   Certifications  //
///////////////////////

.certification-img {
  text-align: center;
  margin-bottom: 25px;
}

.certification-img img {
  width: 100px;
  height: 100px;
}

.main-section-subtitle{
  color: var(--black-5);
}

///////////////////////
//      Responsive   //
///////////////////////
@media (max-width: 767px) {
  .resume {
    position: inherit;
    width: 90%;
    margin: auto;
    padding-bottom: 20px;
  }
  .resumeBtn {
    width: 100%;
  }
}
