<div class="header-section">
    <div class="row">
      <div class="resume">
        <a href="assets/files/{{myResume}}" target="_blank" class="resumeBtn"><i class="fa fa-download" aria-hidden="true" download></i> Download my resume</a>
      </div>
      <div class="col-md-12">
        <div class="intro">
          <div class="container text-center">
            <img class="header-section-profile-image" src="assets/img/{{myImage}}" alt="">
            <h1 class="header-section-name">{{myName}}</h1>
            <div class="header-section-title">{{myTitle}}</div>
            <div class="header-section-main-text">
              <p>{{mySummary}}</p>
            </div>

          </div>
        </div>
      </div>
  </div>
</div>

<div class="header-section-footer">
  <div class="container text-center">
    <ul class="list-inline">
      <li class="email list-inline-item">
        <i class="fa fa-envelope whiteIcons"></i>&nbsp;<a href="mailto:{{myEmail}}">{{myEmail}}</a>
      </li>
      <li class="list-inline-item">
        <i class="fa fa-phone whiteIcons"></i>&nbsp;<a href="tel: {{myPhone}}">{{myPhone}}</a>
      </li>
      <li class="website list-inline-item">
        <i class="fa fa-globe whiteIcons"></i>&nbsp;<a href="https://{{myWebsite}}">{{myWebsite}}</a>
      </li>
    </ul>
    </div>
</div>

<div class="wrapper container">
  <div class="main">
    <section class="main-section section">
      <div class="skills-overview">
        <h2 class="section-title"><i class="fa fa-wrench" aria-hidden="true"></i> Skills Overview</h2>
        <div class="row">
          <div class="col-12 col-md-1"></div>
          <div class="col-12 col-md-10 skills-desc">
             {{mySkillsSummary}}
            <br />
            <a routerLink="/projects">Check out my projects</a>
          </div>
          <div class="col-12 col-md-1"></div>
        </div>
      </div>

      <div class="skills-blocks mx-auto pt-5">
        <div class="row">
          <div class="skills-block col-12 col-lg-4 mb-5 mb-3 mb-lg-0" *ngFor="let skill of mySkills">
            <div class="skills-block-inner bg-white py-4 px-5 position-relative">
              <h4 class="skills-cat text-center mb-3 mt-5">{{skill.skillTitle}}</h4>
              <div class="skills-icon-holder position-absolute d-inline-block rounded-circle text-center">
                <img class="skills-icon" src="assets/img/{{skill.skillImage}}">
              </div>
              <ul class="skills-list list-unstyled text-secondary">
                <li class="mb-2" *ngFor="let indvSkill of skill.skills">
                  <i class="fa fa-check text-primary"></i> {{indvSkill.skillName}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<div class="wrapper container">
  <div class="main">
  <section class="main-section section">
    <h2 class="section-title"><i class="fa fa-star" aria-hidden="true"></i> Certifications and Awards</h2>
    <div class="row">
      <div class="item col-12 col-md-4" *ngFor="let cert of myCertAndAwards">
        <div class="item-inner">
          <div class="certification-img">
            <img src="assets/img/{{cert.caaImage}}" *ngIf="cert.caaImage != 'lsus-award.png'">
            <img src="assets/img/{{cert.caaImage}}" *ngIf="cert.caaImage == 'lsus-award.png'" style="width:200px; height: 100px">
          </div>
          <a href="{{cert.caaLink}}" target="_blank"><h3 class="main-section-title">{{cert.caaName}}</h3></a>
          <div class="main-section-subtitle">
            {{cert.caaOrganization}}
          </div>
          <div class="main-section-date">{{cert.caaDate}}</div>
          <div class="main-section-desc">
            {{cert.caaDesc}}
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
</div>
