///////////////////////
//       Header      //
///////////////////////
.header-section-profile {
  padding-bottom: 15px;
}

.header-section-profile-image{
  width: 700px;
  height: 500px;
}

.header-section-main-text{
  padding-bottom: 25px;
}
