<div class="portfolio">
  <div class="row">
    <div class="col-md-12">
      <div class="intro">
        <div class="container text-center">
          <img class="profile-image" src="assets/img/about-me.png" alt="No image!" width="700" height="500">
          <h1 class="name">It's all about happiness</h1>
          <div class="title">Treat people the way you want to be treated.</div>
          <div class="profile">
            <p>Profile info goes here. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper container">
  <div class="education">
    <section class="education-section section">
      <h2 class="section-title">Experience</h2>
      <div class="row">
        <div class="item col-12 col-md-4">
          <div class="item-inner">
            <h3 class="degree">Full Stack Developer</h3>
            <div class="education-body">
              PioneerRx Pharmacy Software
            </div>
            <div class="time">18 Jun 2018 - Current</div>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
            </div>
          </div>
        </div>

        <div class="item col-12 col-md-4">
          <div class="item-inner">
            <h3 class="degree">Graduate Research Assistant</h3>
            <div class="education-body">
              Louisiana State University Shreveport
            </div>
            <div class="time">31 Jan 2017 - 01 May 2018</div>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
            </div>
          </div>
        </div>

        <div class="item col-12 col-md-4">
          <div class="item-inner">
            <h3 class="degree">Intern/Junior Software Developer</h3>
            <div class="education-body">
              Benetech Corporation
            </div>
            <div class="time">01 Oct 2015 - 01 May 2016</div>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>


<div class="wrapper container">
  <div class="education">
    <section class="education-section section">
      <h2 class="section-title">Education</h2>
      <div class="row">
        <div class="item col-12 col-md-4">
          <div class="item-inner">
            <h3 class="degree">Master of Computer Systems Technology</h3>
            <div class="education-body">
              Louisiana State University Shreveport
            </div>
            <div class="time">15 May 2018</div>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
            </div>
          </div>
        </div>

        <div class="item col-12 col-md-4">
          <div class="item-inner">
            <h3 class="degree">Bachelor of Information Technology</h3>
            <br />
            <div class="education-body">
              University Metropolitan
            </div>
            <div class="time">01 Dec 2016</div>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
            </div>
          </div>
        </div>

        <div class="item col-12 col-md-4">
          <div class="item-inner">
            <h3 class="degree">High School</h3>
            <br />
            <div class="education-body">
              Sports High School in Belgrade
            </div>
            <div class="time">12 Apr 2012</div>
            <div class="desc">
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
